<!-- {# templates/partials/_footer.html #}
{% load static %}
<footer class="site-footer d-none d-md-block" style="padding: 1.5rem 2rem; background: var(--surface); border-top: 1px solid var(--border); margin-top: auto; width: 100%; box-sizing: border-box;">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">
      <div class="text-muted small">
        &copy; 2026 Online Learning System (OLS). All rights reserved.
      </div>
      <div class="d-flex gap-4 small text-muted">
        <a href="#" style="text-decoration: none; color: var(--text-muted);">Privacy Policy</a>
        <a href="#" style="text-decoration: none; color: var(--text-muted);">Terms of Use</a>
        <a href="#" style="text-decoration: none; color: var(--text-muted);">Support Helpdesk</a>
      </div>
    </div>
  </div>
</footer> -->
